*{
	margin: 0px;
	padding: 0px;
}

body {
  	font: 13px "Lucida Grande", Tahoma, Verdana, sans-serif;
  	color: #404040;
  	background: #0ca3d2;
}

input {
  	font: 13px "Lucida Grande", Tahoma, Verdana, sans-serif;
}

div {
	margin: 5px;
}

#wrapper div {
	margin: 10px;
}

p {
	margin: 0px 0px 10px 0px;
	font-size: 15px;
}

#proposta {
	padding: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
	background: #f3f3f3;
	text-align: center;
	text-shadow: 0 1px white;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 3px 3px 0 0;
	background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
	background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
	-webkit-box-shadow: 0 1px whitesmoke;
	box-shadow: 0 1px whitesmoke;
}

#wrapper {
	margin: 50px auto;
	width: 400px;
	background: white;
 
    	text-shadow: 0 1px white;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 3px 3px 0 0;
	background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
	background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
	-webkit-box-shadow: 0 1px whitesmoke;
	box-shadow: 0 1px whitesmoke;
}

#right { 
	float: right;
}
